body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  text-align: center;
}
.my-progress{
  position: relative;
}
.custom-icon {
    position: absolute;
    left: -29px;
    bottom: -1px;
}
.custom-icon.next-icon{
    left: inherit;
    right: -22px;
}
.update_24 {
  margin-bottom: 100px;
}
.update_24 .card {
  height: 100%;
  background-color: #f7941e;
  color: #fff;
  border: none;
  box-shadow: 0 10px 20px rgba(0,0,0, .1);
  padding: 0 4px;
}
.update_24 .card-title{
  margin: 0;
}
.update_24 .card-text {
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}
.update_24 .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}